html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 100% 'ProximaNovaRegular';
  color: #464646;
  min-width: 680px;
}

input {
  size: 63px 21px;
  color: #464646 #ebebeb;
  font: 1rem 'ProximaNovaLight';
  text-align: right;
  border: none;
  padding: 5px 8px;
  letter-spacing: 0.1rem;
}

input:focus,
select:focus {
  outline: none;
}

input [type='number'] {
  appearance: none;
}

.header {
  background: resolve(background.jpg) no-repeat 0% 50% / cover;
  size: * 843px;
  margin: 0 0 5%;
}

.container {
  max-width: 1148px;
  margin: 0 auto;
  size: 74% *;
}

.logo {
  &__png {
    margin: 26px 0 14px;
    padding: 0;
  }
}

.title,
.site-description {
  padding: 0;
  color: #fff;
}

.title {
  font: 4.5rem 'ProximaNovaBold';
  text-transform: uppercase;
  max-width: 520px;
  margin: 46px 0;
}

.site-description {
  font: 1rem/1.5 'ProximaNovaLight';
  max-width: 490px;
}

.site-description::before {
  display: block;
  content: '';
  background: #2569d9;
  size: 84px 10px;
  margin: 57px 0 58px;
}

.top-calculator {
  margin: 0 0 60px;
  font-family: 'ProximaNovaLight';

  &__row {
    margin: 0 0 20px;
  }

  &__select {
    padding: 10px 13px;
    border: 1px solid rgb(209, 219, 223);
    border-radius: 3px;
    margin: 0 11px 0 0;
    size: 70px 40px;
    font: 0.9375rem 'ProximaNovaLight';
    color: #262626;
    background: resolve(arrow.png) 88% 50% no-repeat;
    appearance: none;
  }

  &__select::-ms-expand {
    display: none;
  }

  &__row_old-size,
  &__row_new-size {
    vertical-align: middle;
  }

  &__row_old-size {
    padding: 0 12px 0 0;
  }

  &__row_new-size {
    padding: 0 17px 0 0;
  }
}

.clearance-calculator__header_blue-line,
.bottom-calculator__header_blue-line {
  size: 785px 41px;
  background: #2569d9;
  margin: 0 0 24px;
}

.clearance-calculator__header_name,
.bottom-calculator__header_name {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.02rem;
  padding: 14px 0;
}

.clearance-calculator__input_blue,
.bottom-calculator__input_blue {
  background: #d6e5ff;
}

.clearance-calculator {
  margin: 0 0 44px;

  &__header_name {
    size: 92px *;
  }

  &__header_sizes {
    margin: 0 0 0 16px;
  }

  &__content {
    display: block;
  }

  &__content_left {
    display: inline-block;
    margin: 0 34px 0 15px;
    vertical-align: top;
  }

  &__line {
    display: block;
    margin: 0 0 13px;
  }

  &__line:nth-child(5) {
    margin: 0 0 45px;
  }

  &__line-name {
    display: inline-block;
    min-height: 30px;
    min-width: 80px;
    vertical-align: top;
    margin: 0 13px 0 0;
    padding: 8px 0 0;
  }

  &__input {
    margin: 0 12px 0 0;
  }

  &__clearance-changes {
    width: 270px;
    padding: 10px 0;
  }

  &__content_right {
    display: inline-block;
    margin: -3px 0;
  }

  &__right-img {
    background: resolve(tire.png);
    background-repeat: no-repeat;
    size: 345px 310px;
  }
}

.btn {
  color: #fff #272725;
  border-radius: 3px;
  transition: 400ms;
  border: 1px;
  margin: 3px 0 0;
  text-transform: uppercase;
  font: 14px 'ProximaNovaBold';
  outline: none;
  size: 140px 52px;
}

.btn:hover {
  background: #2569d9;
  text-transform: uppercase;
  cursor: pointer;
}

.bottom-calculator {
  font-family: 'ProximaNovaLight';
  margin: 0 0 100px;

  &_name {
    display: inline-block;
    margin: 0 0 21px;
    font: 18px 'ProximaNovaBold';
  }

  &__header_name {
    width: auto;
    margin: 0 12px 0 16px;
  }

  &__input {
    margin: 0 40px;
  }

  &__input_indication {
    margin: 0 65px 0 20px;
  }
}

@media screen and (max-width: 1067px) {
  .container_main-block {
    margin: 0 20px;
    width: auto;
  }
}

@media screen and (min-width: 834px) and (max-width: 1000px) {
  .title {
    font-size: 3rem;
  }

  .logo__png {
    size: 246px 75px;
  }

  .header {
    height: auto;
    background-position: center;
  }

  .site-description {
    padding: 0 0 30px;
  }
}

@media screen and (max-width: 833px) {
  .title {
    font-size: 2.5rem;
    max-width: 300px;
  }

  .logo__png {
    size: 197px 60px;
  }

  .header {
    height: auto;
    background-position: center;
  }

  .site-description {
    padding: 0 0 30px;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }

  .clearance-calculator__header_blue-line,
  .bottom-calculator__header_blue-line {
    width: 500px;
  }

  .clearance-calculator__content_left {
    margin: 0 34px 25px 15px;
  }
}