@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../assets/fonts/ProximaNova-Bold.woff') format('woff');
}

@font-face {
    font-family: 'ProximaNova-Light';
    src: url('../assets/fonts/ProximaNova-Light.woff') format('woff');
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    font: 16px/1 ProximaNova-Light;
}

header {
    background: url("../assets/images/background.jpg")  no-repeat center / cover;

    /*background: url("../assets/images/background.jpg")  no-repeat top left / cover;*/

    min-height: 843px;
    min-width: 500px;
}

.container {
    max-width: 1148px;
    margin: 0 auto;
    width: 74%;
}

.logo__svg {
    margin: 26px 0 14px;
    padding: 0;
}

.title, .site-description {
    padding: 0;
    color: #fff;
}

.title {
    font: 4.5rem ProximaNova-Bold;
    text-transform: uppercase;
    max-width: 520px;
}

.site-description {
    font: 1rem/1.5 ProximaNova-Light;
    max-width: 490px;
}

.site-description:before {
    display: block;
    content: '';
    background: #2569d9;
    width: 84px;
    height: 10px;
    margin: 55px 0 60px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .title {
        font-size: 3.5rem;
    }

    .site-description {
        font-size: 1.1rem;
    }

    .logo__svg {
        width: 246px;
        height: 75px;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 2.5rem;
        max-width: 300px;
    }

    .site-description {
        font-size: 1.2rem;
    }

    .logo__svg {
        width: 197px;
        height: 60px;
    }
}