<div class="clearance-calculator">
	<div class="clearance-calculator__header  clearance-calculator__header_blue-line">
		<span class="clearance-calculator__header_name  clearance-calculator__header_sizes">Размеры</span>
		<span class="clearance-calculator__header_name  clearance-calculator__header_old-size">Старый</span>
		<span class="clearance-calculator__header_name  clearance-calculator__header_new-size">Новый</span>
		<span class="clearance-calculator__header_name  clearance-calculator__header_difference">Разница</span>
	</div>
	<div class="clearance-calculator__content">
		<div class="clearance-calculator__content_left">
			<div class="clearance-calculator__line">
				<span class="clearance-calculator__line-name">p (мм)</span>
				<input class="clearance-calculator__input" type="number">
				<input class="clearance-calculator__input" type="number">
				<input class="clearance-calculator__input  clearance-calculator__input_blue" type="number">
			</div>
			<div class="clearance-calculator__line">
				<span class="clearance-calculator__line-name">с (мм)</span>
				<input class="clearance-calculator__input" type="number">
				<input class="clearance-calculator__input" type="number">
				<input class="clearance-calculator__input  clearance-calculator__input_blue" type="number">
			</div>
			<div class="clearance-calculator__line">
				<span class="clearance-calculator__line-name">d (мм)</span>
				<input class="clearance-calculator__input" type="number">
				<input class="clearance-calculator__input" type="number">
				<input class="clearance-calculator__input  clearance-calculator__input_blue" type="number">
			</div>
			<div class="clearance-calculator__line">
				<span class="clearance-calculator__line-name">h (мм)</span>
				<input class="clearance-calculator__input" type="number">
				<input class="clearance-calculator__input" type="number">
				<input class="clearance-calculator__input  clearance-calculator__input_blue" type="number">
			</div>
			<div class="clearance-calculator__line">
				<span class="clearance-calculator__line-name  clearance-calculator__clearance-changes">Изменение клиренса (мм)</span>
				<input class="clearance-calculator__input  clearance-calculator__input_blue" type="number">
			</div>
			<div class="btn-wrapper">
				<button class="btn">Рассчитать</button>
			</div>
		</div>
		<div class="clearance-calculator__content_right">
			<!-- <img class="clearance-calculator__right-img" src="src/img/tire.png" alt="Шинный калькулятор"> -->
			<div class="clearance-calculator__right-img"></div>
		</div>
	</div>
</div>