<header class="header">
	<div class="container container_header">
		<div class="logo">
			<img src="./assets/logo.png" class="logo__png" alt="American Racing Logo">
		</div>
			<h1 class="title">Шинный калькулятор</h1>
			<p class="site-description">
				Наш шинный калькулятор позволяет подобрать шины по типоразмеру, он предназначен для математического расчета возможности установки шины на вашем автомобиле. Для начала расчета на шинном калькуляторе задайте старый размер шины и новый. После этого нажмите кнопку «рассчитать». Помимо наглядного отображения изменения размеров шин, при помощи нашего шинного калькулятора, вы можете увидеть погрешность спидометра вызванную установкой новых шин. Расчеты на данном шинном калькуляторе носят исключительно ознакомительный  и приблизительный характер.
			</p>
	</div>
</header>