<div class="container container_main-block">
	<div class="top-calculator">
		<div class="top-calculator__row">
			<span class="top-calculator__row_old-size">Старый размер:</span>
			<select class="top-calculator__select  top-calculator__select_old-width" name="old-width">
				<option class="top-calculator__select-option_old-width" value="">175</option>
				<option class="top-calculator__select-option_old-width" value="">185</option>
				<option class="top-calculator__select-option_old-width" value="">195</option>
			</select>
			<select class="top-calculator__select  top-calculator__select_old-height" name="old-height">
				<option class="top-calculator__select-option_old-height" value="">70</option>
				<option class="top-calculator__select-option_old-height" value="">65</option>
				<option class="top-calculator__select-option_old-height" value="">60</option>
			</select>
			<select class="top-calculator__select  top-calculator__select_old-radius" name="old-radius">
				<option class="top-calculator__select-option_old-radius" value="">R13</option>
				<option class="top-calculator__select-option_old-radius" value="">R14</option>
				<option class="top-calculator__select-option_old-radius" value="">R15</option>
			</select>
		</div>
		<div class="top-calculator__row">
			<span class="top-calculator__row_new-size">Новый размер:</span>
			<select class="top-calculator__select  top-calculator__select_new-width" name="new-width">
				<option class="top-calculator__select-option_new-width" value="">175</option>
				<option class="top-calculator__select-option_new-width" value="">185</option>
				<option class="top-calculator__select-option_new-width" value="">195</option>
			</select>
			<select class="top-calculator__select  top-calculator__select_new-height" name="new-height">
				<option class="top-calculator__select-option_new-height" value="">70</option>
				<option class="top-calculator__select-option_new-height" value="">65</option>
				<option class="top-calculator__select-option_new-height" value="">60</option>
			</select>
			<select class="top-calculator__select  top-calculator__select_new-radius" name="new-radius">
				<option class="top-calculator__select-option_new-radius" value="">R13</option>
				<option class="top-calculator__select-option_new-radius" value="">R14</option>
				<option class="top-calculator__select-option_new-radius" value="">R15</option>
			</select>
		</div>
	</div>
</div>